@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #000;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #8C2CE2, #4D02E0);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.container {
  background: #FCF9FC;
  box-shadow: 6px 6px 6px #103010;
  padding: 30px;
  width: 580px;
  border-radius: 8px;
}

.input-field label {
  display: block;
  padding: 10px 0;
  letter-spacing: .1em;
  font-size: 18px;
}

.input-field input, .input-field select, .input-field textarea {
  background: #FFF;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  transition: .2s;
  outline: 2px solid #FFF;
}

.input-field input:focus-within, .input-field select:focus-within, .input-field textarea:focus-within{
  outline: 2px solid #78EFF0;
}

.input-field textarea {
  resize: vertical;
  margin-bottom: 9px;
}

.input-field input[type="submit"] {
  margin: 12px auto;
  display: block;
  width: 60%;
  background: #8C2CE2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: .12em;
  color: #FFF;
  cursor: pointer;
}

.input-field input[type="submit"]:hover {
  background: #4D02E0;
}

.radio-field > label {
  display: block;
  padding: 10px 0;
  letter-spacing: .1em;
  font-size: 18px;
}

.radio-field .radio-btn {
  display: block;
  padding: 4px 0;
}

.radio-field .radio-btn label {
  display: inline;
  font-size: 14px;
  color: #1D1D1D;
  opacity: .5;
}

.footer {
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 14px;
  cursor: pointer;
  color:#000;
  align-self: end;
  justify-self: end;
}

.footer img {
  width: 20px;
}

.recolor {
  color: #4D02E0;
  font-weight: bold;
  letter-spacing: .1em;
  transition: .2s;
  cursor: pointer;
}

.recolor:hover{
  color: #000;
}

@media screen and (max-width: 620px) {
  .container {
    max-width: 460px;
  }
}

@media screen and (max-width: 520px) {
  .container {
    max-width: 360px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    max-width: 300px;
  }
}